#wheelOfFortune {
    display: inline-block;
    position: relative;
    /* overflow: hidden; */
  }
  
  #wheel {
    display: block;
  }
  
  #spin {
    font: 1em/0 sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    margin: -10%;
    background: #9d25fe;
    color: #fff;
    box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: 0.8s;
    /* background-image: url('../assets/logoGilo.png') ;
    background-size:80%;
    background-repeat:no-repeat;
    background-position: center; */
  }
  
  #spin::after {
    content: '';
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
  }

  .wheelLogo{
    margin:0 auto;
    width:80px;
    opacity:1;
    transition: opacity 0.5 ease;
  }

  .winner{
    padding:15px;
    display: inline-block;
    position: absolute;
    font-size:50px;
    top:-60px;
    border:3px solid #49097e;
    border-radius: 15px;
    background-color: #9c25fe57;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%)
    /* text-align: center; */
  }

  .hide{
    opacity:0;
  }